
.wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    max-width: var(--container-max-width);
    box-sizing: border-box;
}

.header {
    background-color:#587fda;
}

.header-content {
    padding: 20px 50px;
    justify-content: space-between;
}

.header__link {
    color: azure;
    font-size: 15px;
    font-family: consolas, serif;
    text-decoration: none;
    padding: 0 10px; 
}

@media screen and (max-width: 1399px) {
    .container {width: 1500px;}
}

@media screen and (max-width: 1199px) {
    .container {width: 900px;}
}

@media screen and (max-width: 991px) {
    .container {width: 700px;}
}

@media screen and (max-width: 767px) {
    .container {width: 450px;}
}